<!DOCTYPE html>
<html>
<head>
	{% load bootstrap3%}
	{% load static %}
<title>{{user.get_full_name}} Update Profile</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
    <!-- Bootstrap Core CSS -->
<link href="{% static 'dashboard/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
    <link href="{%static 'my_profile/edit/css/easy-responsive-tabs.css' %}" rel='stylesheet' type='text/css'/>
<link href="{% static 'my_profile/edit/css/jquery-ui.css'%}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'my_profile/edit/css/style.css'%}" rel='stylesheet' type='text/css' />
<!--webfonts-->
<link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
<!--//webfonts-->
<link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
<style>
    label{
    color:aqua;
    }
</style>
</head>
<body>

 <h1>User Profile Update Form</h1>
	<div class="container">
			<div class="w3-agileits-team-title">


			<div id="horizontalTab">
					<ul class=" resp-tabs-list">
					<li>
						<img style="height:100px" {% if request.user.image %} src="{{request.user.image.url}}" {%else%} src="{% static 'my_profile/edit/images/tm1.jpg'%}" {%endif%}alt=" " class="img-responsive" />
					</li>
					<li>
						<img src="{% static 'images/KISUMU.jpg'%}" alt=" " class="img-responsive" />
					</li>
					<li>
						<img src="{% static 'images/GOV.jpg'%}" alt=" " class="img-responsive" />
					</li>
					<li>
						<img src="{% static 'images/hospital1.jpg'%}" alt=" " class="img-responsive" />
					</li>
					</ul>
					<div class=" resp-tabs-container">
					<div class="tab1">
						<div class="team-img-w3-agile">
							<img {% if request.user.image %} src="{{request.user.image.url}}" {%else%} src="{% static 'my_profile/edit/images/tm1.jpg'%}" {%endif%}alt=" " class="img-responsive" />

						<h4>{{user.get_full_name}}</h4>
							<span>{{request.user.get_designation_display}}</span>
							<p>{{request.user.bio}}.</p>
						</div>
						<div class=" team-Info-agileits">
						<div class=" register-form">
                            {% if validlink %}
                            <form action="." method="post" enctype="multipart/form-data">{%csrf_token%}
                                {%bootstrap_form form %}
                                <input type="submit" name="submit" value="Change my Password">

                            </form>
                            {%else%}
                              <h1 style="color:red">Password reset unsuccessful</h1>
                                <p class="well">
                                    The password reset link was invalid, possibly because it has already been used.<br> Please request a new
                                    <a href="{% url 'accounts:password_reset' %}">password reset</a>
                                </p>

                            {%endif%}

				</div>

						</div>
						<div class="clear"> </div>
					</div>
					</div>
					<div class="clear"> </div>

			</div>
	</div>
 </div>


		<div class="copyright">

		{% now "Y" as current_year %}

	   <p>&copy; {{ current_year }} Kisumu County Hospital Management System Staff Dashboard. All Rights Reserved </p>

	</div>


	<!--tabs-->
<script src="{% static 'my_profile/edit/js/jquery.min.js' %}"></script>
<script src="{% static 'my_profile/edit/js/easy-responsive-tabs.js'%}"></script>
<script>
$(document).ready(function () {
$('#horizontalTab').easyResponsiveTabs({
type: 'default', //Types: default, vertical, accordion
width: 'auto', //auto or any width like 600px
fit: true,   // 100% fit in a container
closed: 'accordion', // Start closed if in accordion view
activate: function(event) { // Callback function if tab is switched
var $tab = $(this);
var $info = $('#tabInfo');
var $name = $('span', $info);
$name.text($tab.text());
$info.show();
}
});
$('#verticalTab').easyResponsiveTabs({
type: 'vertical',
width: 'auto',
fit: true
});
});
</script>
<!--//tabs-->
<!-- Calendar -->
<script src="{%static 'my_profile/edit/js/jquery-ui.js' %}"></script>
	<script>
		$(function() {
		$( "#datepicker,#datepicker1" ).datepicker();
		});
	</script>
<!-- //Calendar -->
</body>
</html>