{% autoescape off %}
You're receiving this email because you requested for  password reset for your {{ site_name}} account.

Please ignore this message if you never requested a password reset, otherwise  go  to
the following page and choose a new password:
{% block reset_link %}

{{protocol}}://{{domain}}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

{% endblock %}

Your staff ID in case you've forgotten : {{user.staffId}}

Thanks for using our site!

The {{ site_name}} team.

{% endautoescape %}